<div class="row">
    <div class="col-12">
        <h3>Contact Details</h3>
    </div>
    <div class="col-6 col-md-6">
        <div class="card">
            <div class="card-header">
                Email Addresses
            </div>
            <div class="card-body  d-flex flex-column">
                <a id="emailLink"></a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="card">
            <div class="card-header">
                Phone Numbers
            </div>
            <div class="card-body">
                <ol>
                    <li id="phoneItem"></li>
                </ol>
            </div>
        </div>
    </div>
</div>